.cart-overlay {
  position: absolute;
  background: #000000a8;
  height: 100vh;
  border: 2px solid lightgray;
  right: 0;
  border-top: none;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  .title {
    margin: 0;
    padding: 1rem;
  }
  
  .cart {
    width: 300px;
    display: flex;
    flex-direction: column;
    background: #fff;
  }

  .total {
    margin: 0;
    font-size: 20px;
    padding: 1rem;  
  }

  .blue-btn {
    margin: 1rem;
  }

  .cart-items {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .remove-btn {
      border: none;
      background: none;
      &:hover {
        cursor: pointer;
      }
    }
  }

}