
.product-page {
  display: flex;
  padding: 0 15%;
  flex-direction: column;


  .main-info {
    display: flex;

    .thumbnail {
      max-height: 350px;
      box-shadow: #a7a7a7 0px 0px 6px 2px;
    }

    .description {
      margin-left: 2rem;
    }
  }

  .blue-btn {
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 1rem;
    background: #2c76f7;
    
    &:hover {
      cursor: pointer;
    }
  }
}
