
.product-page {
  display: flex;
  padding: 0 15%;
  flex-direction: column;


  .main-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .thumbnail {
      max-height: 350px;
      box-shadow: #a7a7a7 0px 0px 6px 2px;
    }

    .description {
      flex: 1;
      min-width: 300px;
      padding: 2rem;
      
    }
  }

}
