body, html, #root, .App {
  padding: 0;
  margin: 0;
}

.App {
  position: relative;
}

*::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.blue-btn {
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 1rem;
  background: #2c76f7;
  
  &:hover {
    cursor: pointer;
  }
}