.navigation {
  display: flex;
  padding: 10px 3rem;
  align-items: center;
  border-bottom: 2px solid lightgray;
  
  a { text-decoration: none; }

  .logo {
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 19px;
  }

  .nav-items {
    flex: 1;
    padding: 0, {
      left: 3rem
    }
    margin: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
  
    .item, a {
      color: #6b6b6b;
      font-size: 18px;
      margin-right: 1rem;
      border: none!important;
      
    }

  }

  .btn {
    color: #000;
    border: none;
    background: none;
    font-size: 15px;
    font-weight: bold;

    &:hover {
      cursor: pointer;
    }
  }
}